# eclipse
Projekt/bin
*.launch
.settings
.metadata
.classpath
.project

# idea
Projekt/out
*.ipr
*.iws
*.iml
.idea

# gradle
Projekt/build
.gradle

# other
Projekt/eclipse
Projekt/run

# Files from Forge MDK
forge
*changelog.txt
*.log
*.log.gz
