# eclipse
Projekt/bin
*.launch
.settings
.metadata
.classpath
.project

# idea
Projekt/out
*.ipr
*.iws
*.iml
.idea

# gradle
Projekt/build
.gradle

# other
Projekt/eclipse
Projekt/run

# Files from Forge MDK
forge*changelog.txt
FileVariantHelper/bin/*
*.log
Industria-1.20/run/logs/latest.log
Industria-1.20/run/logs/debug.log
Industria-1.20/run/logs/debug-1.log.gz
Industria-1.20/run/logs/latest.log
*.log
